body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; 
    line-height: 1.6;
}

header{
    background-color: #4A6572;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.227);
}

.logo{
    text-align: center; 
    margin: 0 auto;
    padding: 10px; 
}

.logo img{
    max-width: 500px;
    max-height: 100px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav ul li button{
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: #f4f4f4;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li button:hover {
    transform: scale(1.1);
    background-color: rgba(244, 244, 244, 0.2);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1
}

main h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

main p {
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

footer{
    background-color: #4A6572;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.227);
    width: 100%;
}

footer p{
    margin: 0;
    padding: 0px;
}